<div class="center">
  <h2>Create Your Own Dictionary</h2>
  <div id="center_index_img">
    <div class="center_text_slightly">
      <span class="link_font">(Click book to get started)</span>
    </div>
    <br>
    <a href="/word_form" id="index_image"><img src="../img/dictionary.png" alt="dictionary" /></a>
  </div>

</div>
