<div class="panel panel-warning">
  <div class="panel panel-heading">
    <h2><center>Definitions for the word <%= @word.get_word %></center></h2>
  </div>
  <div class="panel panel-body">
    <% @word.definitions.each do |definition| %>
    <li class="link_font"><%= definition.pos %>: <%= definition.word %></li>
    <br>
    <% end %>
    </ul>
  </div>
  <div class="panel panel-footer link_font">
    <center><a href="/word_definitions/<%= @word.id %>/definition_form">Assign a new definition</a></span> |
    <a href="/word_list">Back to word list</a></center>
  </div>
</div>
