<h2>Word Dictionary Form</h2>

<form action="/word_input" method="post">
  <div class="form-group">
    <label for="word_entry">Enter your first word to get started:</label>
    <br>
    <input type="text" name="word_entry">
    <button type="submit" class="btn btn-primary">Submit Word</button>
  </div>
</form>
